In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-12-20 20:31:51,-34.4187,19.2345,68.81,84,99,15.37
1,1,Aksarka,RU,2021-12-20 20:31:51,66.5606,67.7975,-20.58,90,100,10.98
2,2,Cape Town,ZA,2021-12-20 20:30:22,-33.9258,18.4232,77.41,64,0,5.01
3,3,Castro,BR,2021-12-20 20:31:52,-24.7911,-50.0119,76.19,49,2,2.62
4,4,Nantucket,US,2021-12-20 20:31:52,41.2835,-70.0995,37.09,70,43,6.24

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [56]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cape Town,ZA,2021-12-20 20:30:22,-33.9258,18.4232,77.41,64,0,5.01
3,3,Castro,BR,2021-12-20 20:31:52,-24.7911,-50.0119,76.19,49,2,2.62
13,13,Vaini,TO,2021-12-20 20:31:55,-21.2000,-175.2000,84.36,79,40,9.22
20,20,Bengkulu,ID,2021-12-20 20:31:58,-3.8004,102.2655,77.31,89,100,1.50
21,21,Talara,PE,2021-12-20 20:31:58,-4.5772,-81.2719,81.36,57,0,19.57
23,23,Butaritari,KI,2021-12-20 20:31:59,3.0707,172.7902,82.17,68,100,13.73
24,24,San Cristobal,VE,2021-12-20 20:29:48,7.7669,-72.2250,78.98,64,92,2.84
31,31,Puerto Ayora,EC,2021-12-20 20:32:01,-0.7393,-90.3518,80.56,87,93,5.99
33,33,Olavarria,AR,2021-12-20 20:31:08,-36.8927,-60.3225,89.78,22,3,7.14
34,34,Coronel Bogado,PY,2021-12-20 20:32:03,-27.1833,-56.3000,79.29,34,52,3.87

In [57]:
preferred_cities_df.count()

City_ID       153
City          153
Country       152
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [72]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Cape Town      ZA     77.41 -33.9258   18.4232
3           Castro      BR     76.19 -24.7911  -50.0119
13           Vaini      TO     84.36 -21.2000 -175.2000
20        Bengkulu      ID     77.31  -3.8004  102.2655
21          Talara      PE     81.36  -4.5772  -81.2719
23      Butaritari      KI     82.17   3.0707  172.7902
24   San Cristobal      VE     78.98   7.7669  -72.2250
31    Puerto Ayora      EC     80.56  -0.7393  -90.3518
33       Olavarria      AR     89.78 -36.8927  -60.3225
34  Coronel Bogado      PY     79.29 -27.1833  -56.3000

In [73]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key }

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cape Town,ZA,77.41,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,Castro,BR,76.19,-24.7911,-50.0119,CHACARA BAILLY
13,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
20,Bengkulu,ID,77.31,-3.8004,102.2655,Grage Hotel Bengkulu
21,Talara,PE,81.36,-4.5772,-81.2719,Hostal Oro Negro
...,...,...,...,...,...,...
555,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
556,Guarapari,BR,75.09,-20.6667,-40.4975,Hotel Porto do Sol
557,Neiafu,TO,83.08,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
558,Pandan,PH,78.19,14.0453,124.1694,Bonifacio Lodge
560,Barras,BR,86.95,-4.2444,-42.2944,Bl2

In [75]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [86]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))